// responsivness

@media (max-width: 650px) {
  .gameBtns {
    flex-direction: column;
  }
}

@media (max-width: 395px) {
  .title {
    font-size: 18px;
  }
  .players h2 {
    font-size: 16px;
  }
  .rtxt {
    font-size: 12px;
  }
}
